@import './base.css';

#app {
  width: 100vw;
  height: 56.25vw; /* 16:9 aspect ratio */
  margin: 0;
  padding: 0;
  font-weight: normal;
  overflow: hidden;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

