<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--namespace: 命名空间，用于区分不同的mapper-->
<mapper namespace="com.zeyuli.mappers.AdminMapper">
    <!--声明sql语句-->
    <!--注意Mapper.xml文件中引用的方法不能重载，否则会报错-->
    <select id="getUserList" resultType="com.zeyuli.pojo.po.UserPo">
        SELECT id , username ,whetherItIsDisabledOrNot
        FROM bill_sys.user
        LIMIT #{page}, #{limit}
    </select>

    <select id="getUserInfoCount">
        SELECT COUNT(*)
        FROM bill_sys.user
    </select>

    <update id="disableUser">
        UPDATE bill_sys.user
        WHERE id = #{userId}
        SET whetherItIsDisabledOrNot = TRUE
    </update>

    <update id="enableUser">
        UPDATE bill_sys.user
        WHERE id = #{userId}
        SET whetherItIsDisabledOrNot = FALSE
    </update>

    <delete id="deleteUser">
        DELETE FROM bill_sys.user
        WHERE id = #{userId}
    </delete>
</mapper>

