<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--namespace: 命名空间，用于区分不同的mapper-->
<mapper namespace="com.zeyuli.mappers.BillMapper">
    <!--声明sql语句-->
    <!--注意Mapper.xml文件中引用的方法不能重载，否则会报错-->

    <insert id="addBill" useGeneratedKeys="true" keyProperty="vo.id">
        INSERT INTO bill_sys.user_bill
        (user_id, record_enum, amount, account, type, date, remarks)
        VALUES
        (#{userId}, #{vo.recordEnum}, #{vo.amount}, #{vo.account}, #{vo.type}, #{vo.date}, #{vo.remarks})
    </insert>

    <select id="getBillList" resultType="com.zeyuli.pojo.bo.GetBillListBo">
        SELECT id, record_enum, amount, date
        FROM bill_sys.user_bill
        WHERE user_id = #{userId}
        AND deleted = FALSE
        AND (
        date &lt; #{lastDate} OR date = #{lastDate}
        AND id > #{lastId} OR id = 0
        )
        ORDER BY date DESC, id DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="getBillDetail" resultType="com.zeyuli.pojo.po.BillPo">
        SELECT id, user_id, record_enum, amount, account, type, date, remarks
        FROM bill_sys.user_bill
        WHERE id = #{id}
        AND deleted = FALSE
    </select>

    <update id="deleteBill">
        UPDATE bill_sys.user_bill
        SET deleted = TRUE
        WHERE id = #{id}
        AND user_id = #{userId}
    </update>

    <select id="getDeleteBillList" resultType="com.zeyuli.pojo.bo.GetBillListBo">
        SELECT id, record_enum, amount, date
        FROM bill_sys.user_bill
        WHERE user_id = #{userId}
        AND deleted = TRUE
        ORDER BY date DESC, id DESC
        LIMIT #{page}, #{limit}
    </select>

    <update id="recoverBill" parameterType="map">
        UPDATE bill_sys.user_bill
        SET deleted = FALSE
        WHERE id = #{id}
        AND user_id = #{userId}
        RETURNING id, user_id AS userId, record_enum AS recordEnum, amount, account, type, date, remarks
    </update>

    <update id="modifyBill" parameterType="map">
        UPDATE bill_sys.user_bill
        SET record_enum = #{vo.recordEnum},
        amount = #{vo.amount},
        account = #{vo.account},
        type = #{vo.type},
        date = #{vo.date},
        remarks = #{vo.remarks}
        WHERE id = #{id}
        AND user_id = #{userId}
        RETURNING id, user_id AS userId, record_enum AS recordEnum, amount, account, type, date, remarks
    </update>

    <insert id="addBillList" parameterType="map">
        INSERT INTO bill_sys.user_bill
        (user_id, record_enum, amount, account, type, date, remarks)
        VALUES
        <foreach collection="vo.billList" item="vo" separator=",">
            (#{vo.userId}, #{vo.recordEnum}, #{vo.amount}, #{vo.account}, #{vo.type}, #{vo.date}, #{vo.remarks})
        </foreach>
    </insert>

    <update id="addAccountBalance">
        UPDATE bill_sys."user_account"
        SET balance = balance + #{amount}
        WHERE user_id = #{userId}
    </update>

    <update id="modifyAccountBalance">
        UPDATE bill_sys."user_account"
        SET balance = balance - #{amount}
        WHERE user_id = #{userId}
    </update>

</mapper>

